# Predict Career Longevity for NBA Rookies - DPhi Challenge 26-06-2022

## By Soorya Parthiban

### Importing the Libraries and Dataset

In [94]:
import numpy as np
import pandas as pd
import sklearn

In [6]:
from google.colab import drive
drive.mount("/content/drive")

from google.colab import files
uploaded = files.upload()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Saving Train_data_Basketball.csv to Train_data_Basketball.csv

In [7]:
train_df = pd.read_csv('Train_data_Basketball.csv')

### Exploratory Data Analysis

In [8]:
train_df.head()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
0,59.0,12.8,3.4,1.3,2.6,51.0,0.2,0.3,50.0,0.7,0.8,78.0,1.1,2.3,3.3,0.5,0.3,0.4,0.5,1
1,31.0,10.7,3.4,1.2,3.3,35.3,0.5,2.1,25.8,0.5,0.9,55.2,0.3,1.1,1.4,0.4,0.3,0.1,0.2,0
2,48.0,9.3,4.5,1.7,3.4,49.7,0.0,0.1,0.0,1.2,1.9,61.5,0.4,0.8,1.2,0.8,0.5,0.4,1.0,0
3,80.0,27.7,11.2,3.5,9.4,37.4,1.3,4.1,32.9,2.8,3.3,85.0,0.8,1.6,2.4,3.9,1.3,0.1,2.2,1
4,58.0,18.4,5.8,1.9,5.3,36.7,0.0,0.1,25.0,1.9,3.1,61.7,0.5,0.7,1.2,1.9,1.1,0.2,1.7,0

In [10]:
"""
MIN:  Minutes Played
PTS: Number of points per game
FGM: Field goals made
FGA: Field goals attempt
FG%: field goals percent
3P Made: 3 point made
3PA: 3 points attempt
3P%: 3 point percent
FTM: Free throw made
FTA: Free throw attempts
FT%: Free throw percent
OREB: Offensive rebounds
DREB: Defensive rebounds
REB: Rebounds
AST: Assists
STL: Steals
BLK: Blocks
TOV: Turnovers

Target: 0 if career years played < 5, 1 if career years played >= 5
"""

'\nMIN:  Minutes Played\n\nPTS: Number of points per game\n\nFGM: Field goals made\n\nFGA: Field goals attempt\n\nFG%: field goals percent\n\n3P Made: 3 point made\n\n3PA: 3 points attempt\n\n3P%: 3 point percent\n\nFTM: Free throw made\n\nFTA: Free throw attempts\n\nFT%: Free throw percent\n\nOREB: Offensive rebounds\n\nDREB: Defensive rebounds\n\nREB: Rebounds\n\nAST: Assists\n\nSTL: Steals\n\nBLK: Blocks\n\nTOV: Turnovers\n\nTarget: 0 if career years played < 5, 1 if career years played >= 5\n'

In [11]:
train_df.tail()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
1096,49.0,8.3,4.5,1.8,3.9,46.6,0.0,0.1,0.0,0.8,1.2,70.2,0.6,0.7,1.3,0.5,0.3,0.3,0.6,1
1097,35.0,5.5,1.5,0.5,1.4,36.0,0.4,1.1,33.3,0.1,0.1,100.0,0.1,0.6,0.7,0.2,0.1,0.0,0.1,1
1098,65.0,13.2,5.0,2.0,5.0,41.3,0.1,0.3,35.0,0.8,1.0,76.9,0.6,1.0,1.6,1.1,0.7,0.3,0.8,0
1099,55.0,14.9,4.1,1.7,4.1,41.7,0.1,0.1,37.5,0.6,0.8,76.1,0.5,1.0,1.5,1.5,0.7,0.2,0.8,0
1100,55.0,25.3,14.0,5.2,11.3,46.3,0.1,0.5,18.5,3.4,3.8,89.6,0.8,1.3,2.1,1.9,1.3,0.4,1.4,1

In [13]:
train_df.describe()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,3P%,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,Target
count,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000,1101.000000
mean,59.008156,16.928284,6.502344,2.511125,5.645747,43.912555,0.241959,0.767455,19.050425,1.241914,1.741848,70.495847,0.958240,1.937014,2.891927,1.472706,0.589403,0.344204,1.150499,0.499546
std,17.236886,8.034209,4.163856,1.611502,3.422292,6.106910,0.363008,1.017214,15.513640,0.937585,1.272047,10.381068,0.771344,1.342627,2.039694,1.376592,0.386147,0.418840,0.687706,0.500227
min,11.000000,3.100000,1.100000,0.400000,1.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.300000,0.000000,0.000000,0.000000,0.100000,0.000000
25%,46.223257,10.492268,3.587756,1.400000,3.200000,40.000000,0.000000,0.000000,0.000000,0.600000,0.900000,64.900000,0.400000,1.000000,1.400000,0.600000,0.300000,0.100000,0.700000,0.000000
50%,59.387147,15.386486,5.200000,2.000000,4.600000,43.652785,0.100000,0.300000,22.600000,1.000000,1.400000,71.502462,0.700000,1.600000,2.273596,1.041951,0.500000,0.200000,0.988945,0.000000
75%,76.000000,21.830403,8.300000,3.200000,6.900000,47.700000,0.400000,1.195634,32.300000,1.600000,2.200000,77.436718,1.300000,2.500000,3.700000,1.900000,0.800000,0.400000,1.400000,1.000000
max,82.000000,40.900000,24.300000,9.000000,18.900000,73.700000,2.300000,6.500000,100.000000,7.500000,10.200000,100.000000,5.300000,9.600000,13.900000,10.600000,2.500000,3.900000,4.200000,1.000000

In [14]:
train_df.isnull().sum()

GP         0
MIN        0
PTS        0
FGM        0
FGA        0
FG%        0
3P Made    0
3PA        0
3P%        0
FTM        0
FTA        0
FT%        0
OREB       0
DREB       0
REB        0
AST        0
STL        0
BLK        0
TOV        0
Target     0
dtype: int64

In [18]:
train_df["Target"].value_counts() ## Balanced Output Variable

0    551
1    550
Name: Target, dtype: int64

### Spliting train & test sets

In [15]:
from sklearn.model_selection import train_test_split

In [19]:
X = train_df.drop('Target', axis=1)
y = train_df["Target"]

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) ## 70% Train & 30% Test

In [23]:
X_train.shape, X_test.shape

((770, 19), (331, 19))

### Sklearn Classification Models

In [59]:
from sklearn import metrics

#### SVM Classifier

In [51]:
from sklearn.svm import LinearSVC

In [54]:
svc = LinearSVC()

In [65]:
svc.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  - multi_class

LinearSVC()

In [66]:
y_preds = svc.predict(X_test)

In [67]:
print(svc.score(X_test, y_test))

0.6072507552870091

In [68]:
print('SVC model Accuracy: ', metrics.accuracy_score(y_test, y_preds))

SVC model Accuracy:  0.6072507552870091

In [69]:
print("Confusion Matrix: \n", metrics.confusion_matrix(y_test, y_preds))

Confusion Matrix:
 [[149  10]
 [120  52]]

#### Random Forest Model

In [70]:
from sklearn.ensemble import RandomForestClassifier

In [82]:
rf = RandomForestClassifier(n_estimators= 2500,
 min_samples_split= 5,
 min_samples_leaf= 5,
 max_samples= 0.75,
 max_features= 1.0,
 max_depth= 5,
 bootstrap= True)

In [83]:
rf_fit = rf.fit(X_train, y_train)

In [98]:
print(rf_fit.score(X_test, y_test))

0.7311178247734139

#### Decision Tree

In [95]:
from sklearn.tree import DecisionTreeClassifier

In [96]:
dc = DecisionTreeClassifier(criterion="gini", random_state=42,max_depth=3, min_samples_leaf=5)

In [97]:
dc_fit = dc.fit(X_train, y_train)

In [99]:
print(dc_fit.score(X_test, y_test))

0.6888217522658611

## Predicting test sets

In [100]:
from google.colab import files
uploaded = files.upload()

Saving Test_data_Basketball.csv to Test_data_Basketball.csv

In [101]:
test_set = pd.read_csv('Test_data_Basketball.csv')

In [102]:
preds = rf_fit.predict(test_set)

In [103]:
test_df = pd.DataFrame({'prediction': [preds]})

In [104]:
test_df.head()

                                          prediction
0  [0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, ...

In [108]:
np.savetxt("BasketBall_20220626.csv", preds, delimiter=",")